html{
    background-color: #212121;
}
.container-fluid {
    background-color: #212121;
}
.container{
    background-color: #212121;
}

img .image{
    width: auto;
    height: auto;
}
input{
    color: white;
}
.cantidad input{
    border-radius: 15px;
    border-width: 1px;
    background-color: rgba(0, 0, 0, .5);
    border-color: #01adef;
    text-align: center;
    width: 60px;
    outline: #01adef;   
}
.pCompra input{
    border-radius: 15px;
    border-width: 1px;
    background-color: rgba(0, 0, 0, .5);
    border-color: #01adef;
    text-align: center;
    width: 150px;
    outline: #01adef;
}
.por input{
    border-radius: 15px;
    border-width: 1px;
    background-color: rgba(0, 0, 0, .5);
    border-color: #01adef;
    text-align: center;
    width: 60px;
    outline: #01adef;
}
button .btn{
    width: 50px;
}
.resultado{
    color: #53c0eb;
    z-index: 10;
}
footer  .derechos{
    padding-top: 420px;
    z-index: 10;
    font-size: small;
    color: ivory;
} 